<div>
      <div>
        <div class="div-size">INICIO</div>
        <div class="div-size">Atual</div>
      </div>
      <div>
        <div class="div-size">R$ 50000,00</div>
        <div class="div-size">R$ 55000,00</div>
      </div>
  
      <div>
        <div class="div-normal">LUCRO</div>
        <div class="div-normal">R$5000,00</div>
      </div>
  
      <div>
        <div class="div-size">Banca</div>
        <div class="div-size">Lucro médio</div>
      </div>
      <div>
        <div class="div-size">1,77%</div>
        <div class="div-size">2,57%</div>
      </div>
  
      <div>
        <div class="div-size">Gestão</div>
        <div class="div-size">Stake</div>
      </div>
      <div>
        <div class="div-size">1%</div>
        <div class="div-size">R$ 3000,00</div>
      </div>
</div>