<div>
      <div>
        <div class="div-size">INICIO</div>
        <div class="div-size">Atual</div>
      </div>
      <div>
        <div class="div-size">R$ {{information.inicio}}</div>
        <div class="div-size">R$ {{information.final}}</div>
      </div>
  
      <div>
        <div class="div-normal">LUCRO</div>
        <div class="div-normal">R$ {{profit}}</div>
      </div>
  
      <div>
        <div class="div-size">Banca</div>
        <div class="div-size">Lucro médio</div>
      </div>
      <div>
        <div class="div-size"></div>
        <div class="div-size"></div>
      </div>
  
      <div>
        <div class="div-size">Gestão</div>
        <div class="div-size">Stake</div>
      </div>
      <div>
        <div class="div-size"></div>
        <div class="div-size"></div>
      </div>
</div>