<navbar-itens (emitHomeScreen)="setEmitHomeScreen($event)"></navbar-itens>
<div style="display: flex; justify-content:center; ">
  <po-table style="width: 20%;" class="borda"
    [p-columns]="columnsRoyByDays" [p-items]="royByDays">
  </po-table>
  
  <div style="width: 20%; background-color: white;" class="borda">
    <management-table [information] = "information"></management-table>
  </div>

  <po-table style="width: 60%;" class="borda"
    [p-columns]="columnsBet" [p-items]="bets">
  </po-table>
</div>


