<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Detalhes dos Times</a>
          </li>
         
        </ul>
          <form #optionsForm="ngForm" class="d-flex" role="search">
            <select class="form-control me-2" name="dropDownFilter" id="dropDownFilter" 
              [(ngModel)]="filterId" required>
              <option value="" disabled>Escolha um filtro</option>
              <option selected *ngFor="let filter of filters" [value]="filter.id">{{filter.nome}}</option>
            </select>
            <button class="btn btn-outline-success" (click)="LoadTeamsinfo()" type="submit">Atualizar</button>
          </form>
      </div>
    </div>
</nav>

<div *ngFor="let onemarketInfo of marketInfo">
    <h2>{{onemarketInfo.titulo}}</h2>
    <po-table style="width: 20%;" [p-columns]="columns" [p-items]="onemarketInfo.apostasInfoDetalhes">
    </po-table>
</div>