<nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">Times</a>
  <po-button p-label="Adicionar" (p-click)="openModalAdd()"> </po-button>
</nav>
<po-table style="width: 20%;" [p-columns]="columns" [p-items]="teams">
</po-table>

<!-- MODAL -->
<po-modal p-title="Cadastrar Times" [p-primary-action]="confirm" [p-secondary-action]="close">
  <form #optionsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="inputCity">Nome do time</label>
        <input name="team" id="team" type="text" class="form-control" [(ngModel)]="teamName" required />
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="inputState">País do time</label>
        <select class="form-control" name="dropDownCountry" id="dropDownCountry" [(ngModel)]="countryId" required>
          <option selected>Selecione um pais</option>
          <option *ngFor="let country of countries" [value]="country.id">{{country.nome}}</option>
        </select>
      </div>
    </div>
  </form>
</po-modal>
